@import url(reset.css);

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gothic A1';
    font-weight: 400;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
}

.header-link {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    color: white;
    font-size: 15px;
    line-height: 20px;
    position: relative;
}

/* *SECTION 1 */

.bg-pink {
    height: 100vh;
    background: linear-gradient(287deg, rgb(69, 14, 75) 0%, rgb(60, 12, 65) 25%, rgba(207, 0, 99, 0) 80%) rgb(207, 0, 99);
    color: white;
    position: relative;
}

.capital {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.capital-box {
    flex: 0 0 677px;
}

.capital-title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 10px;
}

.capital-desc {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    color: white;
    font-size: 16px;
    line-height: 26px;
    border-radius: 3px;
    padding: 20px 40px;
}

.btn-color {
    background: rgb(252, 10, 126);
}

.arrow {
    width: 10px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -5px;
}


/* *SECTION 2 */

.bg-black {
    min-height: 960px;
    background: rgb(27, 27, 27) url("../imgs/bg-2.webp") no-repeat center 100%/1100px auto;
    padding: 50px 0;
}

.second-section-box {
    max-width: 600px;
    text-align: center;
    padding: 55px 0;
}

.common-desc {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.common-title {
    color: white;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 22px;
}


/* *SECTION 3 */

.subcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    background: #fff;
    position: relative;
}

.third-section-box {
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    flex: 0 0 450px;
    padding: 0 86px 0 58px;
}

.bg-3 {
    margin-left: 110px;
    flex: 0 0 340px;
}

.black-color {
    color: black;
}

.common-text {
    color: rgb(107, 107, 107);
    font-size: 16px;
    line-height: 30px;
}

/* *SECTION 4 */

.forth-section-box {
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-4 {
    margin-right: 110px;
    flex: 0 0 390px;
}

/* *SECTION 5 */

.fifth-section-box {
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-5 {
    margin-left: 110px;
    flex: 0 0 340px;
}


/* *BENEFITS */

.benefits-section {
    background-color: white;
    padding: 80px 0;
}

.benefits-section-block {
    display: flex;
    gap: 62px;
}

.benefit-card-1 {
    background: white url("../imgs/icons/icon-1.svg") no-repeat center top/auto 35px;
    padding: 75px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.benefit-title {
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.benefit-card-2 {
    background: white url("../imgs/icons/icon-2.svg") no-repeat center top/auto 35px;
    padding: 75px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.benefit-card-3 {
    background: white url("../imgs/icons/icon-3.svg") no-repeat center top/auto 35px;
    padding: 75px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

/* *NUMBERS */

.numbers-section {
    padding: 80px 0;
    background: #fff;
}

.numbers-section-block {
    display: flex;
    justify-content: space-around;
}


.number-title {
    color: #333;
    font-size: 59px;
    line-height: 90px;
}

.numbers-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* *SECTION 6 */

.sixth-section-box {
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-6 {
    margin-left: 20px;
    flex: 0 0 525px;
}

.text-box-2 {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex: 0 0 450px;
}


/* *SECTION 7 */

.seventh-section-box {
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-7 {
    margin-right: 20px;
    flex: 0 0 525px;
}

/* *QUOTE SECTION */

.quotes-section {
    padding-top: -80px;
    background-color: white;
}

.quote-card {
    max-width: 700px;
    margin: 0 auto;
    color: #6B6B6B;
    background: white url("../imgs/icons/quote.svg") no-repeat center top/auto 54px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 17px;
}

.quote-text {
    font-size: 24px;
    line-height: 40px;
}

.quote-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 0;
}

.ref {
    font-weight: 700;
    position: relative;
}

.ref::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    margin-left: -50px;
    width: 30px;
    height: 1px;
    background: rgb(211, 211, 211);
}

.quote-card::before,
.quote-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 7px;
    height: 7px;
    margin-left: -20px;
    background: #222;
}

.quote-card::after {
    background: rgba(34, 34, 34, 0.4);
    left: 50%;
    margin-left: 0;
}

/* *SPONSORS SECTION */

.sponsors-section-block {
    padding: 40px 0;
    background: white url("../imgs/icons/sponsors.svg") no-repeat center/1008px 35px;
}

/* *PHONES SECTION */

.phones-section {
    min-height: 520px;
    background: white url("../imgs/bg-8.webp") no-repeat center 100%/100% auto;
}

/* *WAVY PINK BG */

.wavy-pink-section {
    margin: 0 auto;
    background: linear-gradient(287deg, rgb(69, 14, 75) 0%, rgb(60, 12, 65) 25%, rgba(207, 0, 99, 0) 80%) rgb(207, 0, 99);
}

.waves {
    min-height: 475px;
    background-image: url("../imgs/icons/wave.svg");
    background-repeat: repeat;
    background-size: auto 8px;
}

.download-box {
    padding: 150px 0;
}

.download-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn-outline {
    border: 1px solid #B04BB3;
}

/* *FOOTER SECTION */

.email {
    background: #1B1B1B;
    margin: 0 auto;
    padding: 80px 0 310px;
}

.email-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.email-window {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1C1C1C;
    font-size: 16px;
    line-height: 26px;
}

.enter, .subscribe {
    padding: 22px 0;
}

.enter {
    background: white;
    flex: 1 0 310px;
    border-radius: 3px 0px 0px 3px;
    border: 0;
    outline: 0;
    cursor: text;
    padding-left: 22px;
}

input::placeholder {
    color: #1C1C1C;
}

.subscribe {
    background: rgb(252, 10, 126);
    flex: 1 0 150px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

/* *FOOTER */

.footer {
    padding: 20px 0 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.footer-link {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #6B6B6B;
    font-size: 12px;
    line-height: 20px;
}