@import url(reset.css);

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gothic A1';
    font-weight: 400;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
}

.header-menu > li > a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: white;
    font-size: 15px;
    line-height: 20px;
}


/* *SECTION 1 */

.bg-pink {
    height: 100vh;
    background: linear-gradient(287deg, rgba(69, 14, 75, 1) 0%, rgba(60, 12, 65, 1) 25%, rgba(207, 0, 99, 0) 80%) rgba(207, 0, 99, 1);
    color: white;
}

.capital {
    min-height: 680px;
    background: url("../imgs/bg-1.webp") no-repeat 80% 15%/contain;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -280px;
}

.capital-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px 680px 0 150px;

}

.capital-title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 10px;
}

.capital-desc {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: white;
    font-size: 16px;
    line-height: 26px;
    border-radius: 3px;
    padding: 20px 40px;
}

.btn-color {
    background: rgba(252, 10, 126, 1);
}

.arrow {
    background: url("../imgs/arrow.svg") no-repeat center 91%/9px 40px;
}

/* *SECTION 2 */

.bg-black {
    min-height: 100vh;
    background: rgba(27, 27, 27, 1) url("../imgs/bg-2.webp") no-repeat center 100%/1100px auto;
}

.second-section-box {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 20px 45px 55px;
}

.common-desc {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.common-title {
    color: white;
    font-size: 38px;
    line-height: 48px;
}


/* *SECTION 3 */

.third-section {
    height: 637px;
    margin: 80px auto 0;
    background-color: white;
}

.third-section-box {
    background: white url("../imgs/bg-3.webp") no-repeat 80% center/auto 637px;
}

.third-section-block {
    padding: 188px 560px 188px 96px;
}

.text-box {
    padding: 0 86px 3px 58px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.black-color {
    color: black;
}

.common-text {
    color: rgba(107, 107, 107, 1);
    font-size: 16px;
    line-height: 30px;
}

/* *SECTION 4 */

.forth-section {
    height: 470px;
    margin: 160px auto 0;
    background-color: white;
}

.forth-section-box {
    background: white url("../imgs/bg-4.webp") no-repeat 20% center/auto 469px;
}

.forth-section-block {
    padding: 128px 96px 128px 654px;
}

/* *SECTION 5 */

.fifth-section {
    height: 470px;
    margin: 160px auto 0;
    background-color: white;
}

.fifth-section-box {
    background: white url("../imgs/bg-5.webp") no-repeat 80% center/auto 508px;
}

.fifth-section-block {
    padding: 124px 654px 124px 96px;
}

/* *BENEFITS */

.benefits-section {
    height: 210px;
    margin: 160px auto 0;
    background-color: white;
}

.benefits-section-block {
    display: flex;
}

.benefit-card-1 {
    background: white url("../imgs/icon-1.svg") no-repeat center top/auto 35px;
    padding: 75px 30px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.benefit-title {
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.benefit-card-2 {
    background: white url("../imgs/icon-2.svg") no-repeat center top/auto 35px;
    padding: 75px 30px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.benefit-card-3 {
    background: white url("../imgs/icon-3.svg") no-repeat center top/auto 35px;
    padding: 75px 30px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 17px;
}

/* *NUMBERS */

.numbers-section {
    height: 134px;
    margin: 160px auto 0;
}

.numbers-section-block {
    display: flex;
    justify-content: space-around;
}


.number-title {
    color: #333;
    font-size: 59px;
    line-height: 90px;
}

.numbers-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* *SECTION 6 */

.sixth-section {
    height: 414px;
    margin: 160px auto 0;
    background-color: white;
}

.sixth-section-box {
    background: white url("../imgs/bg-6.jpg") no-repeat 90% center/auto 414px;
}

.sixth-section-block {
    padding: 17px 606px 17px 96px;
}

.text-box-2 {
    padding: 0 60px 3px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}


/* *SECTION 7 */

.seventh-section {
    height: 414px;
    margin: 160px auto 0;
    background-color: white;
}

.seventh-section-box {
    background: white url("../imgs/bg-7.jpg") no-repeat 10% center/auto 414px;
}

.seventh-section-block {
    padding: 40px 96px 40px 606px;
}

/* *QUOTE SECTION */

.quotes-section {
    height: 375px;
    margin: 160px auto 0;
    background-color: white;
}

.quotes-section-box {
    padding: 0 240px;
}

.quotes-section-block {
    width: 720px;
}

.quote-card {
    color: #6B6B6B;
    background: white url("../imgs/quote.svg") no-repeat center top/auto 54px;
    padding: 117px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 17px;
}

.quote-text {
    font-size: 24px;
    line-height: 40px;
}

.quote-name {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: 16px;
    line-height: 30px;
}

.ref {
    font-weight: 700;
    position: relative;
}

.ref::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    margin-left: -50px;
    width: 30px;
    height: 1px;
    background: rgba(211, 211, 211, 1);
}

/* *SPONSORS SECTION */

.sponsors-section {
    width: 1440px;
    height: 115px;
    margin: 185px auto 0;
    background-color: white;
}

.sponsors-section-block {
    padding: 40px 96px;
    background: white url("../imgs/sponsors.svg") no-repeat center/1008px 35px;
    color: transparent;
}

/* *PHONES SECTION */

.phones-section {
    height: 518px;
    margin: 80px auto 0;
    background: white url("../imgs/bg-8.webp") no-repeat center 100%/100vw auto;
    color: transparent;
}

/* *WAVY PINK BG */

.wavy-pink-section {
    height: 475px;
    margin: 0 auto;
    background: linear-gradient(287deg, rgba(69, 14, 75, 1) 0%, rgba(60, 12, 65, 1) 25%, rgba(207, 0, 99, 0) 80%) rgba(207, 0, 99, 1);

}

.waves {
    height: 475px;
    background-image: url("../imgs/wave.svg");
    background-repeat: repeat-y;
    background-size: 100vw auto;
}
.download-box {
    padding: 120px 0;
}
.download-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
}

.common-title {
}

.btns {
    display: flex;
    gap: 10px;
}

.link {
}

.btn-color {
}

.btn-outline {
}
